@import "./colors";


// ==================================================================
// FALLBACK VARIABLES
// ==================================================================

// GENERAL
@syntax-text-color: @nova_normal_white;
@syntax-cursor-color: @nova_purpose_user_current_state;
@syntax-selection-color: @nova_purpose_user_current_state;
@syntax-selection-flash-color: @nova_purpose_user_current_state;
@syntax-background-color: @nova_normal_black;

// GUIDE
@syntax-wrap-guide-color: @nova_decoration_medium;
@syntax-indent-guide-color: @nova_decoration_medium;
@syntax-invisible-character-color: @nova_purpose_trivial;

// FIND & REPLACE
@syntax-result-marker-color: @nova_purpose_user_current_state;
@syntax-result-marker-color-selected: @nova_purpose_user_current_state;

// GUTTER
@syntax-gutter-text-color: @nova_decoration_light;
@syntax-gutter-text-color-selected: @nova_purpose_user_current_state;
@syntax-gutter-background-color: transparent;
@syntax-gutter-background-color-selected: transparent;

// GIT STATUS
@syntax-color-added: @nova_purpose_user_current_state;
@syntax-color-modified: @nova_purpose_user_current_state;
@syntax-color-removed: @nova_purpose_user_action_needed;
@syntax-color-renamed: @nova_purpose_user_action_needed;

// LANGUAGES
@syntax-color-variable: @nova_purpose_identifier;
@syntax-color-constant: @nova_purpose_constant;
@syntax-color-property: @nova_purpose_constant;
@syntax-color-value: @nova_purpose_constant;
@syntax-color-function: @nova_purpose_identifier;
@syntax-color-method: @nova_purpose_identifier;
@syntax-color-class: @nova_purpose_identifier;
@syntax-color-keyword: @nova_purpose_statement;
@syntax-color-tag: @nova_purpose_identifier;
@syntax-color-attribute: @nova_purpose_identifier;
@syntax-color-import: @nova_purpose_global;
@syntax-color-snippet: @nova_purpose_emphasis;
