"*":
  "atom-ide-ui":
    "atom-ide-datatip":
      onlyTopDatatip: true
    use: {}
  "atom-karma-test-runner":
    karmaConfigFileName: "test/karma.conf.js"
    nodeBinaryPath: "/Users/bruno/.nvm/versions/node/v8.9.4/bin/node"
    runActiveFileOnly: true
  "atom-material-ui":
    colors:
      abaseColor: "#009789"
      accentColor: "#b00010"
      genAccent: true
      paintCursor: true
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-plus":
    suppressActivationForEditorClasses: [
      "narrow"
    ]
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "linter"
      "tree-view"
      "atom-ide-ui"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  "exception-reporting":
    userId: "1e5e45d3-b12d-4bfa-9a8b-7ffb33f28405"
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-ui-default":
    panelHeight: 300
  narrow:
    locationToOpen: "center"
    useAdjacentPane: "never"
  nuclide:
    "nuclide-home":
      showHome: false
    use:
      "atom-ide-busy-signal": "default"
      "atom-ide-code-actions": "default"
      "atom-ide-code-format": "default"
      "atom-ide-code-highlight": "default"
      "atom-ide-console": "default"
      "atom-ide-datatip": "default"
      "atom-ide-debugger": "default"
      "atom-ide-debugger-java": "default"
      "atom-ide-debugger-native-gdb": "default"
      "atom-ide-debugger-node": "default"
      "atom-ide-debugger-ocaml": "default"
      "atom-ide-debugger-python": "default"
      "atom-ide-debugger-react-native": "default"
      "atom-ide-definitions": "default"
      "atom-ide-diagnostics": "default"
      "atom-ide-diagnostics-ui": "default"
      "atom-ide-find-references": "default"
      "atom-ide-global": "default"
      "atom-ide-outline-view": "default"
      "atom-ide-signature-help": "default"
      "atom-ide-terminal": "default"
      hyperclick: "default"
      "nuclide-adb": "default"
      "nuclide-adb-logcat": "default"
      "nuclide-adb-sdb": "default"
      "nuclide-atom-notifications": "default"
      "nuclide-autocomplete": "default"
      "nuclide-blame": "default"
      "nuclide-blame-provider-hg": "default"
      "nuclide-bookshelf": "default"
      "nuclide-buck": "default"
      "nuclide-buck-ios": "default"
      "nuclide-clang": "default"
      "nuclide-clipboard-path": "default"
      "nuclide-code-search": "default"
      "nuclide-context-view": "default"
      "nuclide-cquery-lsp": "default"
      "nuclide-ctags": "default"
      "nuclide-current-working-directory": "default"
      "nuclide-debugger-java": "default"
      "nuclide-debugger-native": "default"
      "nuclide-debugger-php": "default"
      "nuclide-debugger-vsp": "default"
      "nuclide-deep-link": "default"
      "nuclide-definition-preview": "default"
      "nuclide-definition-preview-provider": "default"
      "nuclide-deprecation-cop": "default"
      "nuclide-device-panel": "default"
      "nuclide-device-panel-android": "default"
      "nuclide-device-panel-ios": "default"
      "nuclide-device-panel-tizen": "default"
      "nuclide-diagnostics-extras": "default"
      "nuclide-distraction-free-mode": "default"
      "nuclide-file-family": "default"
      "nuclide-file-family-projectionist": "default"
      "nuclide-file-tree": "default"
      "nuclide-file-watcher": "default"
      "nuclide-flow": "default"
      "nuclide-fuzzy-filename-provider": "default"
      "nuclide-graphql": "default"
      "nuclide-hack": "default"
      "nuclide-health": "default"
      "nuclide-hg-repository": "default"
      "nuclide-hhvm": "default"
      "nuclide-home": "default"
      "nuclide-http-request-sender": "default"
      "nuclide-infer-al": "default"
      "nuclide-ios-simulator-logs": "default"
      "nuclide-js-imports-client": "default"
      "nuclide-json": "default"
      "nuclide-key-binding-hint-status": "default"
      "nuclide-language-hack": "default"
      "nuclide-language-infer-al": "default"
      "nuclide-language-reason": "default"
      "nuclide-metro": "default"
      "nuclide-move-item-to-available-pane": "default"
      "nuclide-navigation-stack": "default"
      "nuclide-navigation-stack-status-bar": "default"
      "nuclide-notifications": "default"
      "nuclide-nux": "default"
      "nuclide-objc": "default"
      "nuclide-ocaml": "default"
      "nuclide-open-filenames-provider": "default"
      "nuclide-outline-view-extras": "default"
      "nuclide-project": "default"
      "nuclide-python": "default"
      "nuclide-quick-open": "default"
      "nuclide-react-inspector": "default"
      "nuclide-recent-files-provider": "default"
      "nuclide-recent-files-service": "default"
      "nuclide-refactorizer": "default"
      "nuclide-related-files": "default"
      "nuclide-remote-atom": "default"
      "nuclide-remote-projects": "default"
      "nuclide-settings": "default"
      "nuclide-ssh-tunnel": "default"
      "nuclide-swift": "default"
      "nuclide-syntactic-selection": "default"
      "nuclide-task-runner": "default"
      "nuclide-test-runner": "default"
      "nuclide-type-coverage": "default"
      "nuclide-type-hint": "default"
      "nuclide-ui": "default"
      "nuclide-unicode-datatip": "default"
      "nuclide-url-hyperclick": "default"
      "nuclide-vcs-log": "default"
      "nuclide-working-sets": "default"
  "prettier-atom":
    prettierOptions:
      arrowParens: "always"
      singleQuote: true
      trailingComma: "es5"
  "seti-ui":
    compactView: true
    themeColor: "Red"
  "vim-mode-plus":
    clearMultipleCursorsOnEscapeInsertMode: true
    hideCommandsFromCommandPalette: true
    highlightSearchExcludeScopes: [
      "narrow"
    ]
    keymapSemicolonAndCommaToFindPreConfirmedOnFindInput: true
    keymapYToYankToLastCharacterOfLine: true
    sequentialPaste: true
    useSmartcaseForFind: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
