'.editor':
  'ctrl-t': 'unset!'


'body':
  'ctrl-k r': 'pane:split-right-and-copy-active-item'

'.fuzzy-finder':
  'ctrl-t': 'core:move-down'
  'ctrl-s': 'core:move-up'

'.platform-darwin atom-workspace':
  'ctrl-=': 'nuclide-file-tree:toggle'

'atom-text-editor:not([mini])[data-grammar^="source ts"].vim-mode-plus:not(.insert-mode)':
  'space r': 'typescript:find-references'
  'space d': 'typescript:go-to-declaration'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'tab': 'unset!'
  '«': 'vim-mode-plus:move-to-first-character-of-line'
  '»': 'vim-mode-plus:move-to-last-character-of-line'
  'f1': 'refactor:rename'
  'ctrl-s': 'unset!'
  'cmd-s': 'vim-mode-plus:transform-string-by-select-list'
  's': 'vim-mode-plus:move-up'
  't': 'vim-mode-plus:move-down'
  'r': 'vim-mode-plus:move-right'
  'c': 'vim-mode-plus:move-left'
  'é': 'vim-mode-plus:move-to-next-word'
  'l': 'vim-mode-plus:change'
  'k': 'vim-mode-plus:substitute'
  'q': 'atom-keyboard-macros-vim:toggle_record_macro_vim'
  '@': 'atom-keyboard-macros-vim:execute_macro_vim'
  'Q': 'atom-keyboard-macros:call_last_kbd_macro'
  'shift-É': 'vim-mode-plus:move-to-ex-whole-word'
  'space s': 'vim-mode-plus:surround'
  'space d': 'hyperclick:confirm-cursor'
  'space D': 'vim-mode-plus:delete-surround'
  'space h': 'vim-mode-plus:change-surround'
  'S': 'vim-mode-plus:surround-smart-word'
  'shift-K': 'vim-mode-plus:move-to-bottom-of-screen'
  'shift-L': 'vim-mode-plus:change-to-last-character-of-line'
  'space w': 'emmet:wrap-with-abbreviation'
  'enter': 'editor:newline-below'
  'shift-enter': 'editor:newline-above'
  'space é': 'pane:show-next-item'
  'space b': 'pane:show-previous-item'
  'space g': 'symbols-view:go-to-declaration'
  'ctrl-i':     'cursor-history:next'
  'ctrl-o':     'cursor-history:prev'
  'ctrl-alt-i': 'cursor-history:next-within-editor'
  'ctrl-alt-o': 'cursor-history:prev-within-editor'
  'w c': 'window:focus-pane-on-left'
  'w r': 'window:focus-pane-on-right'
  'w t': 'window:focus-pane-on-down'
  'w s': 'window:focus-pane-on-up'
  'w q': 'core:close'
  'space a': 'narrow:search'
  'space l': 'narrow:scan'
  'space space': 'datatip:toggle'
  'space i': 'import-js:import'
  'à': 'intentions:highlight'
  'space c': 'editor:toggle-line-comments'
  'space e': 'expand-region:expand'
  'space ,': 'expand-region:shrink'
  'space *': 'narrow:scan-by-current-word'
  'space /': 'narrow:search-by-current-word'
  'space j': 'import-js:import'
  'space f': 'linter-eslint:fix-file'

'atom-text-editor.vim-mode-plus.with-count:not(.insert-mode)':
  '*': 'vim-mode-plus:set-count-0'

'body atom-text-editor':
  'ctrl-é': 'pane:show-next-item'
  'ctrl-b': 'pane:show-previous-item'
  'cmd-alt-r': 'pane:split-right'

'body.platform-darwin':
  'ctrl-k t': 'pane:split-down-and-copy-active-item'
  'ctrl-k s': 'pane:split-up-and-copy-active-item'
  'ctrl-k c': 'pane:split-left-and-copy-active-item'
  'ctrl-k r': 'pane:split-right-and-copy-active-item'
  'ctrl-k alt-ctrl-w': 'pane:close-other-items'
  'ctrl-k ctrl-w': 'pane:close'
  'ctrl-w': 'core:close'

'atom-workspace atom-text-editor':
  ':': 'native!'
'atom-workspace atom-text-editor.vim-mode-plus:not(.insert-mode)':
  ':': 'command-palette:toggle'
'.markdown-preview':
  '-': 'choose-pane:start'
  'm m': 'choose-pane:focus-last-focused'

'.tree-view':
  'tab': 'choose-pane:start'
  'tab tab': 'choose-pane:focus-last-focused'
  't': 'core:move-down'
  's': 'core:move-up'
  'c': 'core:move-left'
  'r': 'core:move-right'

'core#choose-pane-editor':
  'alt-u': 'choose-pane:last-focused'

'atom-text-editor.vim-mode-plus.normal-mode, atom-text-editor.vim-mode-plus.visual-mode':
  ', f': 'lazy-motion:forward'
  ', p': 'lazy-motion:forward-again'

'atom-text-editor.lazy-motion':
  ';': 'core:confirm'
  '(': 'lazy-motion:forward'
  ')': 'lazy-motion:backward'
  'ctrl-e': 'lazy-motion:set-cursor-word'

'atom-text-editor[mini]':
  'ctrl-c': 'core:cancel'

'atom-workspace':
  'ctrl-shift-n': 'advanced-open-file:toggle'
  # 'alt-a': 'nuclide-file-tree:toggle-focus'
  'f6': 'tabs:close-all-tabs'
  'ctrl-s': 'core:save'
  'ctrl-alt-s': 'core:save-all'
  'shift-alt-t': 'platformio-ide-terminal:fullscreen'
  'ctrl-alt-t': 'platformio-ide-terminal:toggle'
  'ctrl-alt-r': 'platformio-ide-terminal:next'
  'ctrl-alt-c': 'platformio-ide-terminal:prev'
  'ctrl-alt-x': 'platformio-ide-terminal:close'
  'ctrl-alt-n': 'platformio-ide-terminal:new'
  'ctrl-p': 'fuzzy-finder:toggle-file-finder'
  'ctrl-o': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-=': 'tree-view:toggle'

'atom-workspace atom-text-editor:not([mini])[data-grammar^="source ts"]':
  'ctrl-.': 'typescript:rename-refactor'

'.platform-darwin':
  'alt-a': 'tree-view:toggle-focus'

'body atom-text-editor.autocomplete-active':
  'ctrl-s': 'autocomplete-plus:move-up'
  'ctrl-t': 'autocomplete-plus:move-down'


'atom-text-editor.intentions-list:not([mini])':
  'alt': 'intentions:confirm'
